<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        
        <!-- 导航按钮 -->
        <button><div class="navicon"></div></button>

        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg masthead__menu-home-item">
            <a href="#about-me">Homepage</a>
          </li>
          
          <!-- 将主题切换按钮放入一个 <li> 中 -->
          <li class="masthead__menu-item masthead__menu-item--theme-toggle">
            <button id="theme-toggle" class="theme-toggle-button">
              <i id="sun-icon" class="fas fa-sun"></i> <!-- 太阳图标表示浅色模式 --> 
              <i id="moon-icon" class="fas fa-moon" style="display: none;"></i> <!-- 月亮图标表示深色模式 --> 
            </button>
          </li>
          
          {% for link in site.data.navigation.main %}
            <li class="masthead__menu-item">
              <a href="{{ domain }}{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
          
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
