/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 1px solid $border-color;
  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  z-index: 20;

  &__inner-wrap {
    @include container;  // 使用包含的容器样式（通常设置了最大宽度）
    @include clearfix;
    padding: .5em;
    font-family: $sans-serif-narrow;

    @include breakpoint($x-large) {
      max-width: $x-large;  // 最大宽度设置
    }

    display: table-row;
    width: 100%;  // 确保占满整个父容器
    text-align: center;  // 水平居中对齐内容

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }

  // 为 masthead__menu 设置为 table-cell，使其在同一行内
  .masthead__menu {
    display: table-cell;  // 设置为表格单元格
    vertical-align: middle;  // 垂直居中
    white-space: nowrap;  // 防止换行

    ul {
      margin: 0;
      padding: 0;
      clear: both;
      list-style-type: none;
      display: inline-block;  // 让列表项水平排列
      text-align: left;  // 对齐菜单项
    }
  }
}

.masthead__menu-home-item {
  @include breakpoint($medium) {
    display: inline-block !important;
  }
  display: none !important;
}

// 将 masthead__menu-item 设置为 inline-block，以便菜单项水平排列
.masthead__menu-item {
  display: inline-block;  // 设置为 inline-block，防止换行
  list-style-type: none;
  white-space: nowrap;  // 确保文本不换行

  &--lg {
    padding-right: 0em;
    font-weight: 700;
  }
}
